@font-face {
  font-family: 'TT Hoves';
  src: url('../fonts/TTHoves/light/TTHoves-Light.eot');
  src: local('TT Hoves Light'), local('TTHoves-Light'),
  url('../fonts/TTHoves/light/TTHoves-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTHoves/light/TTHoves-Light.woff2') format('woff2'),
  url('../fonts/TTHoves/light/TTHoves-Light.woff') format('woff'),
  url('../fonts/TTHoves/light/TTHoves-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'TT Hoves';
  src: url('../fonts/TTHoves/regular/TTHoves-Regular.eot');
  src: local('TT Hoves Regular'), local('TTHoves-Regular'),
  url('../fonts/TTHoves/regular/TTHoves-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTHoves/regular/TTHoves-Regular.woff2') format('woff2'),
  url('../fonts/TTHoves/regular/TTHoves-Regular.woff') format('woff'),
  url('../fonts/TTHoves/regular/TTHoves-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'TT Hoves';
  src: url('../fonts/TTHoves/medium/TTHoves-Medium.eot');
  src: local('TT Hoves Medium'), local('TTHoves-Medium'),
  url('../fonts/TTHoves/medium/TTHoves-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTHoves/medium/TTHoves-Medium.woff2') format('woff2'),
  url('../fonts/TTHoves/medium/TTHoves-Medium.woff') format('woff'),
  url('../fonts/TTHoves/medium/TTHoves-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TT Hoves';
  src: url('../fonts/TTHoves/bold/TTHoves-Bold.eot');
  src: local('TT Hoves Bold'), local('TTHoves-Bold'),
  url('../fonts/TTHoves/bold/TTHoves-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTHoves/bold/TTHoves-Bold.woff2') format('woff2'),
  url('../fonts/TTHoves/bold/TTHoves-Bold.woff') format('woff'),
  url('../fonts/TTHoves/bold/TTHoves-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../fonts/SFPro/Heavy/SFProDisplay-Heavy.eot');
  src: local('SF Pro Display Heavy'), local('SFProDisplay-Heavy'),
  url('../fonts/SFPro/Heavy/SFProDisplay-Heavy.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SFPro/Heavy/SFProDisplay-Heavy.woff2') format('woff2'),
  url('../fonts/SFPro/Heavy/SFProDisplay-Heavy.woff') format('woff'),
  url('../fonts/SFPro/Heavy/SFProDisplay-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}